# Browsers that we support

# Very popular browsers
> 3%

# Chromium-based
Last 2 Chrome versions
last 2 ChromeAndroid versions
last 2 Android versions
last 2 iOS versions

# FF based
Last 2 Firefox versions
Firefox ESR

# IE 11
Last 1 IE versions
