// Colors

$pure-white:         #fff;
$pure-black:         #000;
$very-light-black:   rgba($pure-black, .05);
$light-black:        rgba($pure-black, .3);
$half-black:         rgba($pure-black, .7);
$light-white:        rgba($pure-white, .3);
$half-white:         rgba($pure-white, .7);

$primary-color:      #ffd500;
$primary-text-color: hsl(30, 2%, 16%);

$gray:               #e2e2e2;

// Font weight

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extral-bold: 800;
$font-weight-heavy: 900;

// Container
$container-width: 1200px;

// Screen breakpoint

$full-hd-plus: 1921px;
$full-hd:      1920px;
$desktop-wide: 1720px;
$desktop:      1440px;
$tablet:       1024px;
$tablet-small: 768px;
$phone:        480px;
$phone-small:  320px;

// Something else..