@import "common";

@mixin text-with-shadow($primary-color, $shadow-color) {
  color: $primary-color;
  text-shadow: 0px 1px 2px $shadow-color;
}

@mixin font($font-weight: $font-weight-normal, $font-size: 1em, $line-height: false, $family: false) {
  @if $family {
    font: $font-weight $font-size unquote('/') $line-height $family;
  } @else {
    font-size: $font-size;
    font-weight: $font-weight;

    @if $line-height {
      line-height: $line-height;
    }
  }
}

@mixin container() {

  max-width: 100%;
  margin: 0 auto;
  padding: 25px 15px 15px;

  @media (min-width: $tablet) {
    max-width: $tablet;
  }

  @media (min-width: $desktop-small) {
    max-width: $tablet-wide;
  }

  @media (min-width: $desktop) {
    max-width: $desktop-small;
  }

  @media (min-width: $desktop-wide) {
    max-width: $desktop-narrow;
  }
}

@mixin container-title() {
  color: $pure-black;
  @include font($font-weight-semi-bold, 2.4em, 1.5);
  text-align: center;
}

@mixin condensed() {
  margin: 0;
  padding: 0;
}

@mixin no-outline() {
  &,
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

@mixin no-underline() {
  &,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

@mixin contain() {
  contain: content;
}