@import "common";
@import "mixins";

.footer {
  padding: 15px;
  background: $very-light-black;

  &__menu {
    @include container();

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__title {
      text-align: center;
      flex-basis: 100%;
      padding: 15px 0;
    }

    &__category {
      flex: 1 1 calc(100% / 6);

      &__title {
        text-align: center;
      }
    }

    &__items {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 5px;
    }
  }

  &__mandatory-gov-banners {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__mandatory-link {
    height: 100px;
    margin: 0 5px 5px;
    display: flex;
  }
}